body,
html {
  margin: 0;
  font-family: Montserrat;
}

h1,
h2 {
  font-family: Montserrat 600;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.hero-image {
  height: 100%;
  position: relative;
  background-size: cover;
  
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-left: 0.7em;
  color: white;
}
button {
  font-family: Montserrat 700;
  position: absolute;
  top: 100%;
  margin-left: 0.5em;
}
.hero-text button {
  float: left;
  border: none;
  outline: 0;
  border-radius: 12px;
  border-color: black;
  padding: 10px 25px;
  color: #133a7c;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.col-sm-4 {
  padding: 0;
  padding-left: 0;
}
.card {
  float: left;
  width: 100%;
  padding: 0;
  margin: 10px;
  height: 180px;
  background-color: #F5F5F5;
}
.card-title {
  font-family: Montserrat 400;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.arrow {
  border: black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
